@model MvcWithJQuery.Models.Student

<h2>update</h2>
<form id="stdForm">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>

            <div class="col-sm-4" style="border:5px solid yellowgreen;padding:10px">

                <input type="text" id="txtId" class="form-control" name="Id" value="@Model.Id" readonly />
                Name
                <input type="text" id="txtName" class="form-control" name="Name" value="@Model.Name" />
                Age
                <input type="text" id="txtAge" class="form-control" name="Age" value="@Model.Age" />
                <br />
                <button class="btn btn-success" id="btnUpdate" type="button">Update</button>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</form>


<script>
    $("#btnUpdate").click(function () {
        $.ajax({
            type: "POST",
            url: "/Student/Update",
            data: $("#stdForm").serialize()
        })
            .done(function () {
                alert('data updated successfully');
                window.location.replace("AllStudents");
            })
            .fail(function () {
                alert("something went wrong");
            })
    })

</script>